<h1>Bonjour, vous y êtes presque, 1 clic et votre compte est créé!</h1>

<p>
    Veuillez cliquer sur le lien suivant pour activer votre compte : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Bonne journée et à très vite!
</p>
