<header>
	<div class="logo_ctn">
		<a href="{{path('app_index')}}">
			<img class="logo_img" src="{{ asset('images/logo.png') }}" alt="logo du site">
		</a>
	</div>
	<div class="flash_ctn">
		{% include "partials/_flash.html.twig" %}
	</div>

	<div class="log_action_ctn">
		{# TODO login logout #}
	</div>
</header>
