<div class="sidebar_nav">
    <ul>
        <li><a href="{{ path('app_user_index') }}">Liste des utilisateurs</a></li>
        <li><a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié ?</a></li>        
    </ul>
</div>