{% extends 'base.html.twig' %}

{% block title %}Email de réinitialisation envoyé
{% endblock %}

{% block body %}
	<p>
		Un email de réinitialisation de votre mot de passe a été envoyé à l'adresse mail que vous avez saisie.
		<br>
		Si un compte correspond à cette adresse mail, alors vous recevrez un email. 
		        
		        Le lien de réinitialisation expirera dans
		{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
	</p>
	<p>Si vous ne trouvez pas l'email, pensez à vérifier vos spams ou
		<a href="{{ path('app_forgot_password_request') }}">reessayer encore</a>.</p>
{% endblock %}