body {
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    height: 15%;
    min-height: 80px;
    color: white;
}

main {
    background-color: navajowhite;
    height: 70%;
    overflow: hidden;
}

footer {
    background-color: gray;
    height: 15%;
    min-height: 80px;
    color: white;
}

