body {
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
    color: white;
    height: 15%;
    min-height: 80px;
    display: flex;
    justify-content: center;
}

.sidebar_nav {
    background-color: grey;
    color: black;
    height: 100%;
    width: 25%;
}

.logo_ctn {
    width: 25%;
    height: 100%;    
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

.logo_ctn a {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

a .logo_img {
    width: auto;
    height: 50%;
}

main {
    background-color: lighten($color: black, $amount: 10%);
    color: white;
    height: 70%;
    overflow: hidden;
}

footer {
    background-color: black;
    color: white;
    height: 15%;
    min-height: 80px;
}

