$margin_logo: 20px;

body {
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

li {
    list-style-type: none;
}
header {
    background-color: black;
    color: white;
    height: 15%;
    min-height: 80px;
    display: flex;
    justify-content: space-between;
}

.sidebar_nav {
    background-color: grey;
    color: black;
    height: 100%;
    width: 25%;
}

.logo_ctn {
    width: calc(25% - $margin_logo);
    height: 100%;    
    margin-left: $margin_logo;
}

.flash_ctn {
    width: 50%;
    height: 100%;    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo_ctn a {
    height: 100%;
    width: auto;
    display: flex;
    justify-content: left;
    align-items: center;
}

.log_action_ctn {
    width: calc(25% - $margin_logo);
    margin-right: $margin_logo;
    height: 100%;   
    display: flex;
    align-items: center;
    justify-content: flex-end;

    & a {
        text-decoration: none;
        color: white;
    }
    & a:hover {
        color: #ffb703;
    }
}

a .logo_img {
    width: auto;
    height: 50%;
}

main {
    background-color: lighten($color: black, $amount: 10%);
    color: white;
    height: 85%;
    overflow: hidden;
    display: flex;
    flex-direction: row;    
}

.admin_content {
    display: flex;
    flex-direction: column;    
    width: 75%;
    overflow: auto;
    align-items: center;
}

footer {
    background-color: black;
    color: white;
    height: 15%;
    min-height: 80px;
}

//Flash
.alert {
    --bs-alert-margin-bottom : 0;
    --bs-alert-padding-y : 0;
    display: flex;
    justify-content: space-between;
    width: 100%;   
    & p {
        margin-bottom: 0;
    }
    & .closebtn {
        cursor: pointer;
    }
}